.block{

    border-radius:16px  ;
    background: wheat;
    text-align: center;
    display: block;

}
.calculator {

    height: 24px;
    font-size: 16px;
    font-weight:700 ;



}
.input{
    height: 40px;
    border-radius: 40px;
    padding: 16px 32px 16px 32px;


}
.Button{
  height:40px ;
  border-radius: 40px;
    text-align: center;

}


















.container {
    padding: 0 15px;
}

@media (min-width: 575.98px){
    .container {
        max-width: 540px;
        margin: auto;
        padding: 0;
    }
}

@media (min-width: 767.98px){
    .container {
        max-width: 720px;
    }
}

@media (min-width: 991.98px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1199.98px){
    .container {
        max-width: 1140px;
    }
}